<section class="not-found section-pad">
  <div class="container not-found__container">
    <h1>Seite nicht gefunden</h1>
    <p>Die angeforderte Seite existiert nicht (mehr).</p>
    <a class="btn" href="{{ routes.root_url }}">Zur Startseite</a>
  </div>
</section>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
